.project-content {
    margin-left: 16pt;
    margin-right: 16pt;
    padding-top: 16pt;
    padding-bottom: 16pt;
}

.project {
    padding-left: 25px;
    margin-left: 12pt;
    margin-right: 12pt;
    margin-top: 16pt;

    background-color: white;
    border-radius: 24pt;

    transition: box-shadow 0.25s ease-in-out;
}

.project:hover {
    box-shadow: 0 0 10pt #b8b8b8;
}

.main-header {
    padding-left: 75px;
    font-size: 45px;
}

.p-description {
    font-size: 16pt;
}

.link {
    color: lightblue;
}

.sep {
    margin-top: 12pt;
    margin-bottom: 12pt;
    border-top: 2px solid lightblue;
}

.image {
    height: 300pt;
    border-radius: 10pt;
    margin-left: 8pt;
    margin-right: 8pt;
    margin-bottom: 8pt;
    box-shadow: 0 0 10pt #838383;
}

.no-shadow {
    box-shadow: none;
}

.resume {
    padding-left: 10pt;
}

.p-description {
    display: block;
    margin-top: 15px;
    font-size: 17px;
}

.image {
    margin: 15px 10px 0 0;
}
