* {
    font-family: sans-serif;
    color: #414141;
}

.main {
    margin: 16pt;
    padding-bottom: 100px;
}

.sep {
    border-top: 2px solid #226082;
}

.accent-color {
    color: #226082;
}

h3 {
    text-transform: uppercase;
}

p {
    display: inline;
}

.padded {
    padding: 8pt;
}

.sec-title {
    display: inline;
    text-transform: uppercase;
}

.bold {
    font-weight: bold;
}

.description {
    padding-top: 12pt;
}

.items {
    padding-top: 8pt;
}

.resume-item {

}

.large-sec {
    padding-top: 20pt;
}

ul {
    margin-top: 4pt;
    margin-bottom: 0;

    padding-left: 16pt;
}

li {
    margin: 2pt;
}
